.login{
    display: block;
    margin: 8px auto;
    padding: 15px;
    width: 500px;
    color: white;
    border: 1px solid #555;
    border-radius: 10px;
    text-align: center;
}

h1{
    text-align: center;
}

button{
    display: block;
    margin: 8px auto;
    padding: 15px;
    width: 500px;
    background-color: black;
    color: white;
    border: 1px solid #555;
    border-radius: 10px;
    text-align: center;
}